@media (max-width: 768px) {
    .menu a {
        font-size: 15px;
    }

    .main h1 {
        font-size: 24px;
    }

    .main p {
        font-size: 16px;
    }

    .button-call {
        font-size: 14px;
        padding: 12px 12px;
    }

    .main img {
        height: 132px;
        width: auto;
    }

    .about-me h2 {
        font-size: 20px;
    }

    .about-me p {
        font-size: 16px;
    }

    .github-button,
    .linkedin-button,
    .instagram-button {
        font-size: 14px;
        padding: 12px 12px;
    }

    .instagram-button {
        margin-left: 5px;
    }

    .linkedin-button {
        margin-left: 10px;
    }

    .about-me img {
        width: auto;
        height: 124px;
    }

    .projects-list-header h2 {
        font-size: 24px;
    }

    .projects-list-header p {
        font-size: 16px;
    }

    .project-list a {
        width: 100%;
    }

    .contact h2 {
        font-size: 24px;
    }

    .contact p {
        font-size: 16px;
    }

    .contact-form {
        max-width: 220px;
    }

    .contact-form label {
        font-size: 16px;
    }

    .contact-form input {
        font-size: 14px;
    }

    .contact-form textarea {
        font-size: 16px;
    }

    .footer h3 {
        font-size: 14px;
    }

    .footer p {
        font-size: 14px;
    }
}
